################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/
/参考資料/
/.vs/Move_the_heart/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
