################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/Move_the_heart/FileContentIndex
/.vs/Move_the_heart/v17
/.vs
/参考資料
